apiVersion: apps/v1
kind: Deployment
metadata:
  name: test
spec:
  selector:
    matchLabels:
      app: test
  replicas: 1
  template:
    metadata:
      labels:
        app: test
    spec:
      initContainers:
        - name: init-db
          image: busybox:1.31
          command: ['sh', '-c', 'echo -e "Checking for the availability of Mongodb Server deployment"; while ! nc -z mongodb 27017; do sleep 1; printf "-"; done; echo -e "  >> Mongo DB Server has started";']      
     
      containers:
      - name: test-app
        image: avinashdere99/python:tag
        env:
        - name: MONGODB_HOST
          valueFrom:
            configMapKeyRef:
              name: mongodb-configmap
              key: database_url
        ports:
        - containerPort: 5000
          name: web-port
